<h1>Listing tsigns</h1>

<table>
  <thead>
    <tr>
      <th>Signature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tsigns.each do |tsign| %>
      <tr>
        <td><%= tsign.signature %></td>
        <td><%= link_to 'Show', tsign %></td>
        <td><%= link_to 'Edit', edit_tsign_path(tsign) %></td>
        <td><%= link_to 'Destroy', tsign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tsign', new_tsign_path %>
