= form_for @tbody do |f|
  =error_messages_for @tbody

  .form-group
    = f.label "Краткое содержание"
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label 'Текст шаблона'
    = f.text_area :main, class: 'form-control js-ace', rows: 10

  .form-actions
    = f.submit 'Сохранить', class: 'btn btn-primary'
