<%= form_for(@thead) do |f| %>
  <% if @thead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thead.errors.count, "error") %> prohibited this thead from being saved:</h2>

      <ul>
      <% @thead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :head %><br>
    <%= f.text_area :head %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
