<h1>Listing theads</h1>

<table>
  <thead>
    <tr>
      <th>Head</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @theads.each do |thead| %>
      <tr>
        <td><%= thead.head %></td>
        <td><%= link_to 'Show', thead %></td>
        <td><%= link_to 'Edit', edit_thead_path(thead) %></td>
        <td><%= link_to 'Destroy', thead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thead', new_thead_path %>
